/qaqc_data
/glm/working_directory
/glm_aed/working_directory
/glm_aed_oxy/working_directory
/glm_aed_sss/working_directory
/glm/*.pdf
/glm/*.xml
/glm/*.nc
/glm_aed/*.pdf
/glm_aed/*.xml
/glm_aed/*.nc
/glm_aed_oxy/*.pdf
/glm_aed_oxy/*.xml
/glm_aed_oxy/*.nc
/glm_aed_sss/*.pdf
/glm_aed_sss/*.xml
/glm_aed_sss/*.nc
.DS_Store

