/fcre/qaqc_data
/fcre/glm/working_directory
/fcre/glm_aed/working_directory
/fcre/glm_aed_oxy/working_directory
/fcre/glm_aed_sss/working_directory
/fcre/glm/*.pdf
/fcre/glm/*.xml
/fcre/glm/*.nc
/fcre/glm_aed/*.pdf
/fcre/glm_aed/*.xml
/fcre/glm_aed/*.nc
/fcre/glm_aed_oxy/*.pdf
/fcre/glm_aed_oxy/*.xml
/fcre/glm_aed_oxy/*.nc
/fcre/glm_aed_sss/*.pdf
/fcre/glm_aed_sss/*.xml
/fcre/glm_aed_sss/*.nc
.DS_Store

